:root {
  --golden: #FFD700;
  --background: #121212;
  --navbar: #2C2C2C;
  --text-primary: #E0E0E0;
  --text-secondary: #A0A0A0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 2. Define Droid Sans Bold */
@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text-primary);
  height: 100vh;
  width: 100%;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

p,
li,
blockquote {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: bold;
}

nav {
  overflow: hidden;
  float: left;
  width: auto;
  background-color: var(--navbar);
}

nav ul {
  margin-top: 30px;
  padding-left: 0;
  padding-right: 10px;
  float: left;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  color: var(--text-primary);
  background-color: var(--navbar);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  font-size: 16px;
}

header img {
  background-color: var(--navbar);
  float: left;
  clear: left;
  padding-right: 30px;
}

header {
  width: 100%;
  position: absolute;
  background-color: var(--navbar);
  font-family: inherit;
  font-size: 14px;
  min-height: 80px;
}

header button {
  margin-top: 35px;
  margin-right: 20px;
  background-color: var(--navbar);
  color: var(--text-primary);
  border: 0;
  float: right;
}


.icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 3px;
  color: var(--text-primary);
  background-color: var(--text-secondary);
  border-radius: 1px;
}

footer {
  position: fixed;
  color: var(--text-primary);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: var(--navbar);
  margin: auto;
}

footer span {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  line-height: 30px;
}

article {
  position: absolute;
  color: var(--text-primary);
  left: 0;
  right: 0;
  width: auto;
  align-items: center;
  will-change: opacity, transform;
}

article div {
  font-family: inherit;
  font-size: 16px;
  text-align: justify;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 80%;
}

@media (min-width: 720px) {
  nav {
    border-top: none;
  }

  nav ul li {
    display: inline;
  }

  header button {
    display: none;
  }
}

@media (max-width: 720px) {
  nav ul li {
    display: none;
  }

  header button {
    display: inline;
  }

  #github {
    display: none;
  }
}

@media (max-width: 720px) and (orientation:portrait) {
  table {
    transform: rotate(270deg);
    margin-top: 200px;
    margin-bottom: 35px;
  }
}

legend {
  color: var(--text-secondary);
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

a:active {
  outline: none;
}

a {
  color: #71BBFB;
  text-decoration: none;
  outline: none;
}

#logo {
  width: 200px;
  margin: 1rem;
}

#github {
  padding: 0px;
  padding-right: 6px;
  width: 25px;
}


table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

th,
td {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid white;
}